<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>19/02/18 11:57:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleTestModification.beforeClass()[pri:0, instance:loginTest.SimpleTestModification@42d80b78]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td>2009787198 32017212 1121454968 </td> </tr>
<tr bgcolor="756ead">  <td>19/02/18 11:57:40</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestModification.testMethod()[pri:0, instance:loginTest.SimpleTestModification@1e88b3c]">testMethod</td> 
  <td>main@101478235</td>   <td>2009787198 32017212 1121454968 </td> </tr>
<tr bgcolor="756ead">  <td>19/02/18 11:57:40</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleTestModification.beforeClass()[pri:0, instance:loginTest.SimpleTestModification@42d80b78]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td>2009787198 32017212 1121454968 </td> </tr>
<tr bgcolor="756ead">  <td>19/02/18 11:57:40</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestModification.testMethod()[pri:0, instance:loginTest.SimpleTestModification@42d80b78]">testMethod</td> 
  <td>main@101478235</td>   <td>2009787198 32017212 1121454968 </td> </tr>
<tr bgcolor="756ead">  <td>19/02/18 11:57:40</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleTestModification.beforeClass()[pri:0, instance:loginTest.SimpleTestModification@42d80b78]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td>2009787198 32017212 1121454968 </td> </tr>
<tr bgcolor="756ead">  <td>19/02/18 11:57:40</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestModification.testMethod()[pri:0, instance:loginTest.SimpleTestModification@77caeb3e]">testMethod</td> 
  <td>main@101478235</td>   <td>2009787198 32017212 1121454968 </td> </tr>
</table>
